/* Set Background color black and text color white */
body {
    background-color: black;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    margin-left: 20px;
    color: white;
}

.navbar img {
    max-height: 40px;
}

.footer-section {
    margin: 20px;
    max-width: 300px;
}

.footer-section h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.footer-section p {
    font-size: 0.9em;
    margin-bottom: 10px;
}

main {
    text-align: center;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
